body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

h1 {
    font-size: x-large;
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}
.menu {
    width: 70%;
    padding: 10px 15px;
    margin: 5px;
    list-style: none;
    border: 2px solid #3c0396;
    border-radius: 10px;
}

.menu li {
    display: inline;
    margin-right: 10px;
    white-space: nowrap;
}

a {
    color: #7c38b0;
    text-decoration: none;
}

.button {
    color: #7c38b0;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: #b4a3f7;
    border-radius: 10px;
    border: 2px solid #3c0396;
    cursor: pointer;
}

form label {
    vertical-align: middle;
}

form ul {
    list-style: none;
    padding-left: 20px;
    background-color: coral;
    width: 30%;
    border-radius: 5px;
}

input, textarea {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 2px solid #3c0396;
    border-radius: 10px;
    outline: none;
}

form {
    margin-left: 20px;
}

.cancel {
    margin-left: 40px;
    background-color: #2392fa;
}

.image--list {
    width: 150px;
    border-radius: 10%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.add-photo-modal {
    position: fixed;
    top: 100px;
    left: 22%;
    padding: 20px 40px 30px 20px;
    background-color: #ffffff;
    display: none;
    z-index: 10;
    border-radius: 10px;

}

.errors {
    width: 50%;
}
