{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список фотографий</h1>
    <ul>
        <ul class="menu">
            <li>картинка</li>
            <li>название</li>
            <li>дата создания</li>
            <li><a href="#">удалить фотографию</a></li>
        </ul>
        <ul class="menu">
            <li>картинка</li>
            <li>название</li>
            <li>дата создания</li>
            <li><a href="#">удалить фотографию</a></li>
        </ul>
        <ul class="menu">
            <li>картинка</li>
            <li>название</li>
            <li>дата создания</li>
            <li><a href="#">удалить фотографию</a></li>
        </ul>
    </ul>
    <button class="button">Добавить фото</button>
{% endblock %}