{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список альбомов</h1>
    <ul>
        <ul class="menu">
            <li>название</li>
            <li>количество фото</li>
            <li>дата создания</li>
            <li>email</li>
            <li><a href="#">удалить альбом</a></li>
            <li><a href="#">изменить альбом</a></li>
            <li><a href="#">просмотреть альбом</a></li>
        </ul>
        <ul class="menu">
            <li>название</li>
            <li>количество фото</li>
            <li>дата создания</li>
            <li>email</li>
            <li><a href="#">удалить альбом</a></li>
            <li><a href="#">изменить альбом</a></li>
            <li><a href="#">просмотреть альбом</a></li>
        </ul>
        <ul class="menu">
            <li>название</li>
            <li>количество фото</li>
            <li>дата создания</li>
            <li>email</li>
            <li><a href="#">удалить альбом</a></li>
            <li><a href="#">изменить альбом</a></li>
            <li><a href="#">просмотреть альбом</a></li>
        </ul>
    </ul>
    <button>Создать новый альбом</button>
{% endblock %}