{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница, которую вы ищете, не найдена.</h1>
    <h2>Возможно, она была удалена или переехала на новый адрес.</h2>

    <button class="button"><a href="{{ url('albums_list') }}">Вернуться на главную</a></button>
{% endblock %}